:root{
    --principal: #0e103d;
    --secundario: #69306d;
    --secundarioClaro: #a5668b;
    --blanco: #f2d7ee;
    --gris: #d3bcc0;

    --fuentePrincipal: 'Nunito', sans-serif;;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--secundarioClaro);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4{
    font-size: 2.7rem;
}

p{
    font-size: 2.5rem;
}

a{
    font-size: 2.3rem;
}

li{
    font-size: 2.3rem;
}
/**Utilidades**/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.no-line-height{
    line-height: 3.5rem;
}

.center-text{
    text-align: center;
}

.justify-text{
    text-align: justify;
}

.text-white{
    color: white;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
    width: 100%;
}

/*Codigo*/

header {
    position: -webkit-sticky;  
    position: sticky;
    top: 0; 
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: var(--principal);
    padding: 0.5rem 2rem;
}

.header-logo{
    width: 4rem;
    height: 4rem;
}

.header-logo-container{
    display: flex;
    justify-content: space-around;
    padding-right: 2rem;
    border-right: 2px solid var(--secundarioClaro) ;
}

.title-presentation{
    line-height: 5.5rem;
}

.title-logo{
    color: white;
    text-align: center;
    align-items: center;
    display: flex;

}

.header-options{
    display: flex;
    justify-content: space-around;
    width: 30rem;
}

.header-options__links{
    border-bottom: 1px solid var(--secundarioClaro);
    color: white;
}

.header-options__links:hover{
    color: var(--secundarioClaro);
    border-radius: 10%;
}

.logo-presentation{
    width: 6rem;
    height: 6rem;
}

.scroll-presentation__img{
    padding: 2rem 0 5rem 0;
    width: 20rem;
    height: 3rem;
}

.main-presentation {
    background-color: #F2D7EE;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(105, 48, 109, 0.8)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2369306d' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%230e103d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23773f74' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235f5566' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23844a7a' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23867882' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23905580' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a4929a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239b5e86' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23bda8ae' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a5668b' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23d3bcc0' points='943 900 1210 900 971 687'/%3E%3C/svg%3E") no-repeat fixed;
    padding: 2rem 2rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
    height: 47rem;
}

.header-border{
    border: 3px solid black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.about-me{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.about-me__personal{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/personal_background.png") no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    align-items: center;
    padding: 0 5%;
}

.personal-img{
    grid-column: 1/2;
    grid-row: 1;
    border-radius: 50%;
    width: 100%;
    justify-content: center;

}

.personal-arrow{
    grid-column: 2/3;
    grid-row: 1;
    width: 20%;
    justify-self: center;
}

.personal-info{
    grid-column: 3/5;
    grid-row: 1;
    color: var(--principal);
    padding: 0 10%;
}

.about-me__studies-uptc{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/studies_background_uptc.jpg") no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
}

.about-me__studies-platzi{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/studies_background_platzi.png") no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
}

.about-me__studies-mintic{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/studies_background_mintic.png") no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
}

.container-studies{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-top: 2px solid var(--gris);
}

.studies-img{
    object-fit: contain;
    object-position: center center;
    width: 100%;
    max-height: 100%;
}

.studies-img_platzi{
    object-fit: contain;
    object-position: center center;
    width: 100%;
    max-height: 100%;
}

.studies-img_mintic{
    object-fit: contain;
    object-position: center center;
    width: 100%;
    max-height: 100%;
}

.studies-uptc{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4rem;  
    align-items: center;
    padding-left: 2%;
}

.studies-platzi{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4rem;  
    align-items: center;
    padding-left: 2%;
}

.a-platzi{
    border-bottom: 1px solid var(--secundarioClaro);
    color: white;
}

.about-me-titles{
    color: var(--principal);
    font-size: 5rem;
    border-left: 1px solid var(--secundario);
}

.studies-mintic{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4rem;  
    align-items: center;
    padding-left: 2%;
}

.studies-uptc-title{
    color: #FFCB05;
}

.studies-mintic-title{
    color: #FC0763;
}

.studies-platzi-title{
    color: #98CA3F;
}

.technologies-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 5%;
    gap: 2rem;
}

.about-me__technologies{
    background-color: #F2D7EE;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230E103D' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2369306D'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 2px solid rgba(14, 16, 61, .15);
    border-top: 2px solid rgba(14, 16, 61, .15);
}

.technologies-container__description{

}

.technologies-container__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;

}

.tech__info{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;

}

.tech__info h1{
    justify-self: center;
    font-size: 2.7rem;
    margin: 0;
}

.tech__info h3{
    justify-self: end;
    font-size: 2.2rem;
    margin: 0;
}

.tech__info progress{
    background-color: white;
}

progress{
    align-self: center;
    justify-self: center;   
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
}

progress::-webkit-progress-value{
    background-color: var(--secundarioClaro);
}

progress::-webkit-progress-bar{
    border-radius: 5px;
    background-color: rgb(51,51,51);
    border: 3px solid rgb(51,51,51);
}

.technologies-container__info ul{
    padding: 0;
}

#good-bar::-webkit-progress-value{
    border-radius: 5px;
    background-color: #77dd77;
}

.good-per{
    color: #77dd77;
    text-shadow: -1px 1px 0 rgb(51,51,51),
    1px 1px 0 rgb(51,51,51),
    1px -1px 0 rgb(51,51,51),
    -1px -1px 0 rgb(51,51,51);
}

#mid-bar::-webkit-progress-value{
    border-radius: 5px;
    background-color: #fdfd96;
}

.mid-per{
    color: #fdfd96;
    text-shadow: -1px 1px 0 rgb(51,51,51),
    1px 1px 0 rgb(51,51,51),
    1px -1px 0 rgb(51,51,51),
    -1px -1px 0 rgb(51,51,51);
}

#low-bar::-webkit-progress-value{
    border-radius: 5px;
    background-color: #fdcae1;
}

.low-per{
    color: #fdcae1;
    text-shadow: -1px 1px 0 rgb(51,51,51),
    1px 1px 0 rgb(51,51,51),
    1px -1px 0 rgb(51,51,51),
    -1px -1px 0 rgb(51,51,51);
}

@media (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 2.7rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4{
        font-size: 2.3rem;
    }
    
    p{
        font-size: 2.2rem;
    }
    
    a{
        font-size: 2.2rem;
    }

    .title-presentation{
        line-height: 4.5rem;
    }

    .header-title{
        font-size: 0;
    }

    .about-me__personal{
        display: flex;
        flex-direction: column;
    }

    .personal-img{
        width: 50%;
    }

    .studies-uptc{
        display: flex;
        padding: 0;
    }

    .studies-platzi{
        display: flex;
        padding: 0;
    }

    .studies-mintic{
        display: flex;
        padding: 0;
    }

    .personal-arrow{
        transform: rotate(90deg);
    }

    .studies-img{
        display: none;
    }

    .studies-img_platzi{
        display: none;
    }

    .studies-img_mintic{
        display: none;
    }

    .technologies-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
        gap: 2rem;
    }

    .tech__info{
        display: grid;
        grid-template-columns: 35% 45% 20%;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
    
    }
}